* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #b30000;
    color: white;
}

.hero {
    text-align: center;
    padding: 30px;
    background: #d60000;
}

.hero h1 {
    font-size: 40px;
    color: #ffeb3b;
}

.hero p {
    font-size: 16px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
}

.menu {
    flex: 1;
    background: #e60000;
    padding: 20px;
    border-radius: 15px;
}

.menu h2 {
    margin-bottom: 15px;
    color: #00ff88;
}

.item {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-top: 10px;
}

.menu p {
    font-size: 13px;
    opacity: 0.9;
}

.image {
    flex: 1;
    text-align: center;
}

.image img {
    width: 100%;
    max-width: 300px;
    border-radius: 20px;
}

.extra, .drink {
    background: #008a3d;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
}

.extra h2, .drink h2 {
    margin-bottom: 10px;
}

ul {
    list-style: none;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.cta {
    text-align: center;
    padding: 30px;
    background: #ff4500;
}

footer {
    text-align: center;
    padding: 20px;
    background: #111;
    font-size: 14px;
}
.order {
    background: #fff;
    color: #111;
    margin: 20px;
    padding: 25px;
    border-radius: 20px;
}

.order h2 {
    text-align: center;
    margin-bottom: 15px;
    color: #d60000;
}

.order form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.order input,
.order textarea,
.order select {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.order button {
    margin-top: 15px;
    padding: 12px;
    background: #25D366;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}

.order button:hover {
    background: #1ebd5a;
}